<div class="center jumbotron">
  <BR>
  <h1>Welcome in Framework Project</h1>

  <h2>
    This is the home page
  </h2>
  <%= link_to 'sign_up', class: "btn btn-lg btn-primary" do %>
    <span class='glyphicon glyphicon-flag'></span> Sign up
  <%end%>
  <%= link_to '#', class: "btn btn-lg btn-primary" do %>
    <span class='glyphicon glyphicon-flag'</span> Connection
  <%end%>

</div>
